<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>other page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	
</head>
<body class="container">
<p th:utext="${msg}">message.</p>
	<p th:utext="${id} + ' is ' + (${check} ? ${trueVal} : ${falseVal})"></p>
	<h1 class="display-4">Hello page</h1>
	<p th:text="'from parameter...id=' + ${param.id[0]} + ',name=' + ${param.name[0]}"></p>
		<p th:text="${new java.util.Date().toString()}"></p>
	<p class="msg" th:text="${#calendars.format(#calendars.createNow())}"></p>
	<div class="h6 alert alert-primary">
		<form method="post" action="/" th:object="${formModel}">
			<div class="my-2">
				<input type="checkbox" class="form-check-input" name="check1" />
				<label for="check1" class="frm-check-label">チェック</label>
			</div>
			<div class="my-2">
				<input type="radio" class="form-check-input" name="radio1" value="male"/>
				<label for="radioA" class="frm-check-label">男性</label>
			</div>
			<div class="my-2">
				<input type="radio" class="form-check-input" name="radio1" value="female"/>
				<label for="radioB" class="frm-check-label">女性</label>
			</div>
			<div class="my-2">
				<select class="form-select" name="select1" size="1">
					<option value="Windows">Windows</option>
					<option value="Mac">Mac</option>
					<option value="Linux">Linux</option>
				</select>
			</div>
			<div class="my-2">
				<select class="form-select" name="select2" size="4" multiple="multiple">
					<option value="Andoroid">Andoroid</option>
					<option value="iphone">iphone</option>
					<option value="Winfone">Winfone</option>
				</select>
			</div>
			
			<input type="submit" class="btn btn-primary" value="Create" />
		</form>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>NAME</th>
					<th>MAIL</th>
					<th>TEL</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="obj: ${data}">
					<td th:text="${obj[0]}"></td>
					<td th:text="${obj[1]}"></td>
					<td th:text="${obj[2]}"></td>
				</tr>
			</tbody>			
		</table>
	</div>
</body>
</html>